
h1 { font-size: 3em; font-weight: bold; margin-top: 0; font-family: 'Handwriting', cursive;}

h2, h3, h4 {font-family: Cuprum, Arial, sans-serif; }

.col-md-2{
    padding: 1px;
}

.price { font-size: 1.4em; color: red; font-weight: bold;}

.similarTitle { font-weight: bold; font-size: 0.9em; }

.cartText { font-size: 0.75em; }

footer {
   margin-top: 1em;
}

.tight-form-group { margin-bottom: 5px; }

.jumbotron {
   background-image: url(art-images/06030.jpg); 
      color: white;
}

.jumbotron [role] {
   text-shadow: none;
}

.carousel-control.left
{
   margin-left: -100px;
   background: none;
   color: black;
	border: none;
}

.carousel-control.right
{
   margin-right: -100px;
   background: none;
   color:black;
	border: none;
}