
ul.navbar-nav li a {
   color: white;
}
ul.navbar-nav li a:hover {
   color: red;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand {
   font-family: 'Handwriting', cursive;
   font-size: 36pt;
   color: white;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18pt;
}

.carousel-caption {
  z-index: 10;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);  
}

.carousel .item {
  height: 650px;
  background-color: white;
}

.carousel-inner > .item > img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  max-height: 300% !important;
  max-width: 300% !important;
  width: 100% !important;
  height:100% !important;
}

.carousel-caption h1 {
   font-family: 'Cookie', cursive;
   font-size: 48px;

}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

#carL
{
   margin-left: -100px;
   background: none;
   color: black;
	border: none;
}

#carR
{
   margin-right: -100px;
   background: none;
   color:black;
	border: none;
}

  